<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apptentive.com.android.feedback.messagecenter">
    <application>
        <activity
            android:name=".view.MessageCenterActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Apptentive" />
    </application>
</manifest>
