<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Optional -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Required for making Http-requests -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Used for checking network connectivity status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <queries>
        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="*" />
        </intent>
    </queries>

    <application>
        <activity
            android:name="apptentive.com.android.feedback.messagecenter.view.ProfileActivity"
            android:theme="@style/Theme.Apptentive"
            android:exported="false" />
        <activity
            android:name="apptentive.com.android.feedback.messagecenter.view.ImagePreviewActivity"
            android:theme="@style/Theme.Apptentive"
            android:exported="false" />
        <activity
            android:name="apptentive.com.android.feedback.messagecenter.view.MessageCenterActivity"
            android:theme="@style/Theme.Apptentive"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="apptentive.com.android.feedback.survey.SurveyActivity"
            android:theme="@style/Theme.Apptentive" />
        <activity
            android:name="apptentive.com.android.feedback.link.view.NavigateTolinkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.Apptentive" />
        <activity
            android:name="apptentive.com.android.feedback.textmodal.TextModalSupportFragmentManagerActivity"
            android:theme="@style/Theme.Apptentive.NoAnimation"
            android:exported="false" />
        <activity
            android:name="apptentive.com.android.feedback.notifications.ApptentiveNotificationActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />
        <activity android:name="apptentive.com.android.feedback.enjoyment.EnjoymentDialogSupportFragmentManagerActivity"
            android:theme="@style/Theme.Apptentive.NoAnimation"
            android:exported="false" />
    </application>
</manifest>